/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
    --font-primary: "Playfair Display";
    --font-secondary: "Inter";

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1170px;
    --breakpoint-2xl: 1170px;


    --color-primary: #030605;
    --color-primary-hover: #202624;
    --color-accent-1: #ffd476;
    --color-accent-2: #28887a;
    --color-accent-2-hover: #24767a;
    --color-page: #f8fbfa;
}

body {
    @apply font-secondary text-primary;
}

a {
    @apply font-medium hover:text-accent-2 transition-all duration-300
}

.container {
    @apply px-[15px] xl:px-0;
}

.h1, 
.h2, 
.h3, 
.h4, 
.h5, 
.h6 {
    @apply font-semibold font-primary;
}

/*  1 rem is equal to 16 pixels by default "root em"

      text-lg = 1.125 rem
      text-xl = 1.25 rem

      text-2xl = 1.5 rem
      text-3xl = 1.875 rem
      text-4xl = 2.25 rem

      text-5xl = 3 rem
      text-6xl = 3.75 rem
      text-7xl = 4.5 rem

      text-8xl = 6 rem
      text-9xl = 8 rem
    
*/

.h1 {
    @apply text-5xl md:text-6xl xl:text-8xl;
}

.h2 {
    @apply text-4xl md:text-5xl xl:text-6xl leading-tight mb-12 xl:mb-[90px];
}

.h3 {
    @apply text-3xl md:text-4xl xl:text-5xl;
}

.h4 {
    @apply text-2xl md:text-3xl xl:text-4xl;
}

.h5 {
    @apply text-xl md:text-2xl font-medium;
}

.h6 {
    @apply text-lg md:text-xl font-medium;
}

.btn {
    @apply text-white cursor-pointer;
}

.btn-sm {
    @apply h-[52px] px-6;
}

.btn-lg {
    @apply min-w-[172px] h-[60px] px-8;   
}

.btn-primary {
    @apply bg-primary hover:bg-accent-2 transition-all duration-300;
}

.btn-accent-2 {
    @apply bg-accent-2 hover:bg-accent-2-hover transition-all duration-300
}

/* swiper */
.swiper-button-prev:after {
    @apply text-primary
}

.swiper-button-next:after {
    @apply text-primary
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @apply bg-accent-2
}